In [32]:
import pandas as pd

In [33]:
df = pd.read_csv('../../data/simple_loan.csv')
df = df[:10]
df.columns

Index(['age', 'employed', 'own_house', 'credit', 'target'], dtype='object')

In [34]:
df.head()

     age  employed own_house credit target
0  young     False         n   fair     no
1  young     False         n   good     no
2  young      True         n   good    yes
3  young      True         y   fair    yes
4  young     False         n   fair     no

In [35]:
X = df[['age', 'employed', 'own_house', 'credit']]  # feature
y = df['target']  # target label

In [36]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

X_train.shape, X_test.shape # ข้อมูลสำหรับ train มี 7 แถว สำหรับ test มี 3 แถว

((7, 4), (3, 4))

In [37]:
X_train

      age  employed own_house     credit
6  middle     False         n       good
3   young      True         y       fair
8  middle     False         y  excellent
0   young     False         n       fair
2   young      True         n       good
1   young     False         n       good
9  middle     False         y  excellent

In [38]:
X_test

      age  employed own_house credit
4   young     False         n   fair
7  middle      True         y   good
5  middle     False         n   fair

In [39]:
y_train

6     no
3    yes
8    yes
0     no
2    yes
1     no
9    yes
Name: target, dtype: object

In [40]:
y_test

4     no
7    yes
5     no
Name: target, dtype: object